.menu a {
    text-decoration: none;
    margin-left:3rem;
}
.menu:last-child {
    margin-right:0;
}
.wrapper {
    background-color: black;
}
.header {
    display:flex;
    justify-content: space-between;
    max-width: var(--layout-max-width);
    margin:auto;
    padding-top:2rem;
    padding-bottom:2rem;
}

.header a {
    font-size:.95rem;
    color:white;
    font-weight: 600;
    text-decoration: none;
}
.header a:hover {
    color:#4452fb

}