.container {
    /* word-break: break-word; */
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    max-width: var(--layout-max-width);
    padding-left: 1rem;
    padding-right: 1rem;
    margin:auto;
    padding-top:2rem;
}

.root {
    min-height:100vh;
    
}

.black {
    color:white;
    background-color: var(--color-black);
}
